.default {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 26px 49px 26px 48px;
  border-radius: 18px;
  background: var(--primary-2);
  box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
  stroke: var(--primary-1);
}

.default span,
.inverted span {
  color: white;
}

.plain {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: auto;
  margin-top: 5.2rem;
  color: #4d5053;
  stroke: var(--primary-1);
}

.inverted {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 26px 49px 26px 48px;
  border-radius: 18px;
  background: var(--primary-1);
  box-shadow: 0px 10px 20px #1f2022;
  stroke: var(--primary-2);
}
