@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-1: #cda274;
  --primary-2: #292f36;
  --primary-3: #f4f0ec;
}

html {
  font-size: 62.5%;
  font-family: 'DM Serif Display', serif;
}

* {
  box-sizing: border-box;
  font-weight: 400;
  color: var(--primary-2);
  padding: 0;
  margin: 0;
}

.display-text {
  font-size: 8.5rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
div,
.large-para {
  font-size: 2.2rem;
}

h5,
.medium-para {
  font-size: 2rem;
}

h6,
.small-para {
  font-size: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ol > li {
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--primary-1);
}
